---
import { getCollection } from 'astro:content';
import { Sprite } from 'astro-icon';

const tags = await getCollection('tags').then((tags) =>
  tags.map(({ id, data: { title } }) => ({
    id,
    title,
  })),
);
---

<aside>
  <p class="text-sm font-semibold">Etiquetas</p>
  <ul class="flex flex-wrap gap-x-2 gap-y-3 m-t-2">
    {
      tags.map(({ id, title }) => (
        <li>
          <a
            href={`/tags/${id}`}
            class:list={[
              'flex items-center p-y-1 p-x-3',
              'text-sm font-semibold',
              'd:bg-teal-200 d:hover:bg-teal-100 d:text-teal-700',
              'transition-all',
              'rounded-2xl',
              'whitespace-nowrap',
            ]}
          >
            {title}
          </a>
        </li>
      ))
    }
  </ul>
</aside>
