---
import { Image } from 'astro:assets';
import pictureSrc from '@/images/jmlweb.jpg';
import Container from '../Container.astro';
import SocialLinks from './SocialLinks.astro';
---

<div
  class:list={[
    'transition-colors',
    'bg-gradient-to-rb from-15% to-55% from-indigo-200/13 to-indigo-200/7 d:from-orange-200/4 d:to-indigo-900/7',
    'border-y border-cinder-400/10 d:border-cinder-200/10',
  ]}
>
  <Container as="section" class="flex flex-col">
    <h1
      class:list={[
        'text-3xl md:text-4xl font-semibold',
        'text-cinder-800/90 d:text-cinder-100/90',
        'tracking-tight',
        'transition-colors',
      ]}
    >
      ¡Hola! Soy <br class="sm:hidden" aria-hidden="true" />José Manuel Lucas
    </h1>
    <p
      class:list={[
        'text-xl lg:text-2xl font-medium',
        'mt-2',
        'text-cinder-500/80 d:text-cinder-100/80',
        'transition-colors',
      ]}
    >
      Construyo sitios web escalables y eficientes basados en buenas prácticas y
      estándares
    </p>
    <p class="mt-3 lg:text-lg">
      Estoy especializado en desarrollo con <strong class="font-semibold"
        >TypeScript</strong
      >, pero también maqueto y preparo la infraestructura de mis proyectos.
    </p>
    <SocialLinks />
    <Image
      src={pictureSrc}
      width={pictureSrc.width / 2}
      alt="José Manuel Lucas mirando hacia abajo"
      densities={[1.5, 2]}
      loading="eager"
      class:list={[
        'block',
        'w-20 md:w-24 lg:w-32',
        'mt-6 lg:mt-8 mb-3 md:mb-4',
        'aspect-square',
        'rounded-full overflow-hidden',
        'order-first',
      ]}
    />
  </Container>
</div>
