---
import type { GetStaticPaths, InferGetStaticPropsType } from 'astro';
import { getCollection } from 'astro:content';
import { Sprite } from 'astro-icon';
import { map, pipe, sortWith } from 'mochila-ts';

import Container from '@/components/Container.astro';
import PostEntry from '@/components/PostEntry.astro';
import Aside from '@/components/posts/Aside.astro';
import Subtitle from '@/components/Subtitle.astro';
import Title from '@/components/Title.astro';
import { POSTS_PER_PAGE } from '@/config/posts';
import MainLayout from '@/layout/MainLayout.astro';
import { toPostItem } from '@/pods/posts/toPostItem';
import type { Post } from '@/pods/posts/types';

export const getStaticPaths = (async ({ paginate }) => {
  const sortByDate = (
    { data: { date: dateA } }: Post,
    { data: { date: dateB } }: Post,
  ) => dateA.getTime() - dateB.getTime();

  const posts = pipe(
    sortWith(sortByDate),
    map(toPostItem),
  )(await getCollection('posts'));
  // Generate pages from our array of astronauts, with 2 to a page
  return paginate(posts, { pageSize: POSTS_PER_PAGE });
}) satisfies GetStaticPaths;

export type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { page } = Astro.props;
---

<MainLayout
  title={`Posts. Página ${page.currentPage} | José Manuel Lucas`}
  currentPath="/posts/1"
>
  <Container as="main" class="p-8 md:pt-12 md:pb-10 lg:pt-14 lg:pb-12">
    <Subtitle
      as="h1"
      class="flex justify-start items-baseline"
      transition:name="title"
    >
      Posts {
        page.currentPage > 1 && (
          <>
            <Sprite
              name="ri:separator"
              class="w-4 h-4 ml-2 opacity-60"
              aria-hidden
            />
            <small class="text-xl md:text-2xl ml-2">Página 1</small>
          </>
        )
      }
    </Subtitle>
    <div
      class="flex flex-col lg:flex-row items-start mt-4 md:mt-6 gap-8 lg:gap-12"
    >
      <div class="flex flex-col w-full max-w-3xl gap-4 md:gap-6 lg:gap-8">
        <!--List the array of astronaut info-->
        {page.data.map((props) => <PostEntry {...props} />)}
      </div>
      <Aside />
    </div>
  </Container>
</MainLayout>
