---
import HomeScene from '@/scenes/home/Home.astro';
---

<HomeScene
  title="Bienvenido a Astro."
  heading="¡Hola! Soy José Manuel Lucas"
  subheading="Construyo sitios web escalables y eficientes basados en buenas prácticas."
>
  <Fragment slot="intro">
    <p class="~text-base/lg ~mt-4/5">
      Poseo una dilatada experiencia <strong
        >desarrollando, manteniendo y optimizando proyectos web</strong
      > de todo tipo, lo que me permite tener una <strong
        >visión completa del ciclo de desarrollo</strong
      >.
    </p>
    <p class="~text-base/lg ~mt-3/4">
      En los últimos años, he alternado mi trabajo como <strong>desarrollador</strong> con el de
      <strong>líder técnico</strong>, gracias a lo que he podido adquirir habilidades de <strong
        >gestión</strong
      > y <strong>mentorización</strong> de equipos.
    </p>
    <p class="~text-base/lg ~mt-3/4">
      Considero que el trabajo no está acabado hasta que la aplicación está en producción, por lo
      que colaboro activamente en el <strong
        >despliegue y el mantenimiento de la infraestructura</strong
      >.
    </p>
  </Fragment>
</HomeScene>
