@font-face {
  font-family: 'Domine fallback';
  src: local(Georgia);
    size-adjust: 112%;
    ascent-override: 88%;
    descent-override: 16%;
    line-gap-override: normal;
}

@font-face {
  font-family: 'DM Sans Variable fallback';
  src: local(Arial);
    size-adjust: 109%;
    ascent-override: 96%;
    descent-override: 27%;
    line-gap-override: normal;
}