---
import HomeScene from '../../scenes/home/Home.astro';
---

<HomeScene
  title="Welcome to Astro."
  description="José Manuel Lucas | Frontend, TypeScript, CSS, Next.js"
>
  <main>
    <h1>English page</h1>
  </main>
</HomeScene>
