---
import HomeScene from '@/scenes/home/HomeScene.astro';
---

<HomeScene
  title="José Manuel Lucas, Frontend Developer"
  intro={{
    title: 'Hi! I’m José Manuel Lucas',
    subtitle: 'I build scalable and efficient websites based on best practices',
  }}
>
  <Fragment slot="intro-description">
    <p>
      I have extensive experience <strong
        >developing, maintaining, and optimizing web projects</strong
      > for companies and clients such as Freepik, PcComponentes, Series Yonkis or Albert and Ferrán
      Adrià.
    </p>
    <p>
      In recent years, I have worked as a <strong>technical leader</strong>, which has allowed me to
      acquire skills in <strong>communication, management, and team mentoring</strong>.
    </p>
  </Fragment>
</HomeScene>
