---
import HomeScene from '@/scenes/home/Home.astro';
---

<HomeScene
  title="José Manuel Lucas. Sitios web escalables y eficientes. Buenas prácticas. TypeScript, Next.js, Node."
  heading="Hi! I'm José Manuel Lucas"
  subheading="Construyo sitios web escalables y eficientes basados en buenas prácticas."
>
  <Fragment slot="intro">
    <p class="~mt-3/4 ~text-base/lg">
      Poseo una dilatada experiencia <strong
        >desarrollando, manteniendo y optimizando proyectos web</strong
      > de todo tipo, lo que me permite tener una <strong
        >visión completa del ciclo de desarrollo</strong
      >.
    </p>
    <p class="mt-2 ~text-base/lg">
      En los últimos años, he alternado mi trabajo como <strong>desarrollador</strong> con el de
      <strong>líder técnico</strong>, gracias a lo que he podido adquirir habilidades de <strong
        >gestión</strong
      > y <strong>mentorización</strong> de equipos.
    </p>
    <p class="mt-2 ~text-base/lg">
      Mi lenguaje favorito es <strong>TypeScript</strong>, ya sea en el lado cliente o servidor, y
      suelo trabajar con frameworks como <a
        class="font-bold underline"
        href="https://nextjs.org"
        target="_blank"
        rel="noopener noreferrer">Next</a
      > y <a
        class="font-bold underline"
        href="https://astro.build"
        target="_blank"
        rel="noopener noreferrer">Astro</a
      > para construir mis aplicaciones, aunque también conozco otras tecnologías y lenguajes.
    </p>
    <p class="mt-2 ~text-base/lg">
      Considero que el trabajo no está acabado hasta que la aplicación está en producción, por lo
      que colaboro activamente en el <strong
        >despliegue y el mantenimiento de la infraestructura</strong
      >.
    </p>
  </Fragment>
</HomeScene>
