---
import HomeScene from '@/scenes/home/HomeScene.astro';
---

<HomeScene
  title="José Manuel Lucas, Desarrollador Frontend"
  intro={{
    title: '¡Hola! Soy José Manuel Lucas',
    subtitle: 'Construyo sitios web escalables y eficientes basados en buenas prácticas',
  }}
>
  <Fragment slot="intro-description">
    <p>
      Poseo una amplia experiencia <strong
        >desarrollando, manteniendo y optimizando proyectos web</strong
      > para empresas y clientes como <em>Freepik</em>, <em>PcComponentes</em>, <em
        >Series Yonkis</em
      >
      o <em>Albert y Ferrán Adriá</em>.
    </p>
    <p>
      En los últimos años he ejercido como <strong>líder técnico</strong>, gracias a lo que he
      podido adquirir habilidades de <strong
        >comunicación, gestión y mentorización de equipos</strong
      >.
    </p>
  </Fragment>
</HomeScene>
