---
import HomeScene from '../scenes/home/Home.astro';
---

<HomeScene
  title="Bienvenido a Astro."
  description="José Manuel Lucas | Frontend, TypeScript, CSS, Next.js"
>
  <main>
    <h1>Página en español</h1>
  </main>
</HomeScene>
