---
import HomeScene from '@/scenes/home/HomeScene.astro';
import { leading } from '@/styles';
---

<HomeScene
  title="José Manuel Lucas, Desarrollador Frontend"
  intro={{
    title: '¡Hola! Soy José Manuel Lucas',
    subtitle: 'Construyo sitios web escalables y eficientes basados en buenas prácticas',
  }}
>
  <Fragment slot="intro-description">
    <p>
      Poseo una amplia experiencia <strong
        >desarrollando, manteniendo y optimizando proyectos web</strong
      > para empresas y clientes como Freepik, PcComponentes, Series Yonkis o Albert y Ferrán Adriá.
    </p>
    <p>
      En los últimos años he ejercido como <strong>líder técnico</strong>, gracias a lo que he
      podido adquirir habilidades de <strong
        >comunicación, gestión y mentorización de equipos</strong
      >.
    </p>
  </Fragment>
  <Fragment slot="technologies-description">
    <p class={leading()}>
      Soy un apasionado de la <strong>programación funcional y reactiva</strong>, del <strong
        >testing</strong
      > y de los <strong>sistemas de diseño</strong>. Me preocupo por mantener actualizados mis
      conocimientos y por aplicar las mejores prácticas.
    </p>
    <p class={leading()}>
      Aunque suelo trabajar con tecnologías <strong>frontend</strong>, me considero un profesional
      versátil, lo que me permite tener una <strong>visión completa del ciclo de desarrollo</strong
      >.
    </p>
  </Fragment>
  <Fragment slot="conferences-description">
    <p class={leading()}>
      Una de mis pasiones es compartir conocimiento y experiencias con la comunidad.<br />Creo que
      aprender y enseñar a los demás es una de las mejores formas de crecer.
    </p>
    <p class={leading()}>
      Es por esto que participo activamente en eventos, y publico artículos como invitado en algunos
      medios.
    </p>
  </Fragment>
</HomeScene>
