---
import RootLayout from '@/layouts/RootLayout/RootLayout.astro';
import { Image } from 'astro:assets';
import pictureSrc from '@/images/bici_raw.jpg';
import { Icon } from 'astro-icon/components';
import { getRelativeLocaleUrl } from 'astro:i18n';
import SocialLinks from '@/components/SocialLinks.astro';
---

<RootLayout title="José Manuel Lucas, Desarrollador Frontend">
  <div class="relative min-h-96">
    <Image
      src={pictureSrc}
      class="-z-1 bio-picture absolute left-0 top-0 h-full w-full object-cover object-right-top"
      alt=""
    />
    <div class="-z-1 bio-picture absolute inset-0 bg-slate-950 opacity-70"></div>
    <div
      class="-z-1 md:to-slate-20 lg:to-slate-10 absolute inset-0 bg-gradient-to-br from-slate-950 to-slate-950/30"
    >
    </div>
    <div class="relative mx-auto grid max-w-screen-xl grid-rows-[auto_1fr] ~px-4/5 ~pt-2/4">
      <header class="~py-6/8">
        <a
          href={getRelativeLocaleUrl(Astro.currentLocale ?? 'es', '/')}
          class="text-orange-500 dark:text-amber-400"
        >
          <span class="sr-only">José Manuel Lucas</span>
          <Icon class="aspect-square h-auto ~w-9/11" name="logo" aria-hidden="true" />
        </a>
      </header>
      <div class="max-w-screen-md text-gray-50 ~pb-6/10">
        <h1 class="font-bold tracking-tight ~text-3xl/4xl">¡Hola! Soy José Manuel Lucas</h1>
        <h2 class="mt-2 font-bold ~text-xl/3xl">
          Construyo sitios web escalables y eficientes basados en buenas prácticas
        </h2>
        <p class="~text-base/lg ~mt-5/6">
          Poseo una dilatada experiencia <strong
            >desarrollando, manteniendo y optimizando proyectos web</strong
          > de todo tipo, lo que me permite tener una <strong
            >visión completa del ciclo de desarrollo</strong
          >.
        </p>
        <p class="~text-base/lg ~mt-3/4">
          En los últimos años, he alternado mi trabajo como <strong>desarrollador</strong> con el de
          <strong>líder técnico</strong>, gracias a lo que he podido adquirir habilidades de <strong
            >gestión</strong
          > y <strong>mentorización</strong> de equipos.
        </p>
        <p class="~text-base/lg ~mt-3/4">
          Considero que el trabajo no está acabado hasta que la aplicación está en producción, por
          lo que colaboro activamente en el <strong
            >despliegue y el mantenimiento de la infraestructura</strong
          >.
        </p>
        <div class="~mt-8/10">
          <SocialLinks />
        </div>
      </div>
    </div>
  </div>
</RootLayout>
