---
import Container from '@/components/Container.astro';
import Title from '@/components/Title.astro';
import MainLayout from '@/layout/MainLayout.astro';
---

<MainLayout
  title="José Manuel Lucas / Desarrollador Frontend"
  currentPath="/sobre-mi"
>
  <Container class="mt-8">
    <Title>Sobre mí</Title>
  </Container>
</MainLayout>
