<div
  class:list={[
    'bg-gradient-to-rb from-15% to-55% from-indigo-200/13 to-indigo-200/7 d:from-orange-200/4 d:to-indigo-900/7',
    'border-y border-cinder-400/10 d:border-cinder-200/10',
  ]}
>
  <slot />
</div>
