---
import { Sprite } from 'astro-icon';

import { SOCIAL_NETWORKS } from '@/config/socialNetworks';
---

<ul class="flex justify-end gap-2 mt-8">
  {
    SOCIAL_NETWORKS.map(({ href, title, icon }) => (
      <li>
        <a
          class:list={[
            'flex justify-center items-center relative',
            'aspect-square w-10',
            'rounded-1 text-shadow-sm',
            'bg-teal-100/40 d:bg-teal-100 text-teal-500 d:text-teal-600 @hover:bg-teal-100/80 d:hover:bg-teal-200 @hover:text-teal-700',
            'border border-teal-600/20 d:border-teal-300 @hover:teal-300/60 d:@hover:border-teal-400/75',
            'transition-colors',
            'after:content-empty after:absolute after:inset-1 after:-z-1 after:rotate-5 after:pointer-events-none after:translate-z-0',
            'after:rounded-lg after:blur-xl after:transition-opacity after:opacity-0 after:@hover:opacity-100',
            'after:bg-teal-700/30 after:d:bg-teal-300/75',
          ]}
          href={href}
          data-tooltip
          target="_blank"
          rel="noopener"
        >
          <span class="sr-only">{title}</span>
          <Sprite
            aria-hidden="true"
            name={icon}
            class:list={[
              'aspect-square',
              icon.includes('twitter') ? 'w-5.5' : 'w-6',
              icon.includes('linkedin') && '-mt-0.5',
            ]}
          />
        </a>
      </li>
    ))
  }
</ul>
