---
import { Icon } from 'astro-icon/components';

interface Props {
  period: string;
  position: string;
  company: {
    title: string;
    href: string;
  };
}

const { period, position, company } = Astro.props;
---

<article
  class="group/article relative flex-1 rounded border border-slate-200 bg-slate-50 px-4 ~mb-4/8 last:mb-0 min-[58rem]:px-6 dark:border-slate-800 dark:bg-slate-900"
>
  <header class="pt-4 min-[58rem]:pt-6">
    <p class="flex items-center font-medium text-slate-500 ~text-sm/base">
      <Icon
        name="ri:calendar-2-line"
        class="mr-1 size-4 text-slate-400 dark:text-slate-500"
        aria-hidden
      />
      {period}
    </p>
    <h3
      class="mt-2 flex flex-wrap items-center font-semibold leading-none ~text-base/lg dark:text-slate-200"
    >
      <span lang="en">{position}</span>
      <Icon
        name="ri:at-line"
        class="mx-1 size-4 text-slate-400 dark:text-slate-500"
        aria-label="@"
      />
      <a
        href={company.href}
        class="text-indigo-500 transition-colors hover:text-indigo-600 dark:text-indigo-400 dark:hover:text-indigo-300"
        target="_blank"
        rel="noopener noreferrer">{company.title}</a
      >
    </h3>
  </header>
  <div class="mt-1 pb-4 ~text-base/lg min-[58rem]:pb-6">
    <slot />
  </div>
  <Icon
    name="ri:circle-fill"
    class="absolute top-1/2 hidden size-3 text-teal-300 group-odd/article:-right-7 group-even/article:-left-7 min-[58rem]:block dark:text-teal-600"
    aria-hidden
  />
</article>

<style>
  article {
    grid-row: span 2;
  }

  article:nth-child(odd) {
    grid-column: 1;
  }

  article:nth-child(even) {
    grid-column: 3;
  }

  article:nth-child(2) {
    grid-row: 2 / 4;
  }
</style>
