---
import type { ComponentProps } from 'astro/types';

import PageLayout from '@/layouts/PageLayout/PageLayout.astro';
import BioPicture from './BioPicture.astro';
import Heading from '@/components/Heading.astro';
import SayHi from './SayHi.astro';
import SocialLinks from './SocialLinks.astro';
import Conferences from './conferences/Conferences.astro';
import Container from '@/components/Container.astro';

type Props = ComponentProps<typeof PageLayout> & {
  heading: string;
  subheading: string;
};

const { title, heading, subheading } = Astro.props;
---

<PageLayout title={title}>
  <Container class="lg:max-w-screen-lg">
    <section
      class="flex flex-col-reverse gap-4 ~mt-6/10 ~pt-3/8 ~pb-8/14 lg:flex-row lg:items-start lg:justify-between"
    >
      <div class="mx-auto max-w-screen-md">
        <Heading level="1" class="text-gray-700 dark:text-gray-300"
          ><SayHi /> <span class="tracking-tight">{heading}</span></Heading
        >
        <Heading level="2" as="h2" class="text-gray-600 ~mt-2/3 dark:text-gray-400">
          {subheading}
        </Heading>
        <slot name="intro" />
        <div class="flex flex-col gap-3 ~mt-6/9">
          <Heading level="3" as="p">¿Contactamos?</Heading>
          <SocialLinks />
        </div>
      </div>
      <BioPicture />
    </section>
  </Container>
  <div class="bg-gray-200/50 ~pt-10/12 ~pb-10/16 dark:bg-gray-800/40">
    <Container as="section" class="~gap-4/ flex flex-col">
      <Heading level="2" as="h2">Charlas y conferencias</Heading>
      <Conferences />
    </Container>
  </div>
</PageLayout>
