---
import RootLayout from '@/layouts/RootLayout/RootLayout.astro';
import { Image } from 'astro:assets';
import pictureSrc from '@/images/bici_raw.jpg';
import SocialLinks from './SocialLinks.astro';
import Logo from '@/components/Logo.astro';
import ThemeToggler from '@/components/ThemeToggler.astro';
import SayHi from './SayHi.astro';
---

<RootLayout title="José Manuel Lucas, Desarrollador Frontend">
  <div class="relative min-h-96 overflow-hidden border-b border-gray-200 dark:border-gray-700">
    <Image
      src={pictureSrc}
      class="-z-1 bio-picture-img absolute left-0 top-0 h-full w-full object-cover object-right-top"
      alt=""
    />
    <div class="-z-1 bio-picture absolute inset-0 bg-slate-950 opacity-70"></div>
    <div
      class="-z-1 absolute inset-0 bg-gradient-to-br from-slate-950 to-slate-950/30 md:to-slate-950/20 lg:to-slate-950/10"
    >
    </div>
    <div class="relative mx-auto grid max-w-screen-xl grid-rows-[auto_1fr] ~px-4/5 ~pt-2/4">
      <header class="flex items-center justify-between ~py-6/8">
        <Logo color="light" />
        <ThemeToggler />
      </header>
      <div class="max-w-screen-md text-gray-100 ~pb-6/10">
        <h1 class="font-semibold tracking-tight ~text-3xl/4xl">
          <SayHi />¡Hola! Soy José Manuel Lucas
        </h1>
        <h2 class="mt-2 font-light text-gray-400 ~text-2xl/3xl">
          Construyo sitios web escalables y eficientes basados en buenas prácticas
        </h2>
        <div class="text-gray-300 ~text-base/lg">
          <p class="~mt-5/6">
            Poseo una amplia experiencia <strong
              >desarrollando, manteniendo y optimizando proyectos web</strong
            > de todo tipo, lo que me permite tener una <strong
              >visión completa del ciclo de desarrollo</strong
            >.
          </p>
          <p class="~mt-3/4">
            En los últimos años, he alternado mi trabajo como <strong
              >desarrollador frontend senior</strong
            > con el de
            <strong>líder técnico</strong>, gracias a lo que he podido adquirir habilidades de <strong
              >gestión</strong
            > y <strong>mentorización</strong> de equipos.
          </p>
          <p class="~mt-3/4">
            Considero que el trabajo no está acabado hasta que la aplicación está en producción, por
            lo que colaboro activamente en el <strong
              >despliegue y el mantenimiento de la infraestructura</strong
            >.
          </p>
        </div>
        <div class="~mt-8/10">
          <SocialLinks />
        </div>
      </div>
    </div>
  </div>
</RootLayout>
