<say-hi>
  <button
    aria-pressed="true"
    class="relative inline-block cursor-pointer motion-safe:aria-pressed:before:say-hi before:inline-block before:grayscale before:content-['👋🏻'] aria-pressed:before:grayscale-0"
  >
    <span class="sr-only"
      >{Astro.currentLocale === 'en' ? 'Toggle animation' : 'Alternar animación'}</span
    >
  </button>
</say-hi>

<script>
  class SayHi extends HTMLElement {
    connectedCallback() {
      const button = this.querySelector<HTMLButtonElement>('button');
      if (!button) {
        return;
      }

      button.ariaPressed = localStorage.getItem('sayHi') ?? 'true';

      // Each time the button is clicked, update the count.
      button.addEventListener('click', (e) => {
        const newState = (e.currentTarget as any).ariaPressed === 'true' ? 'false' : 'true';
        localStorage.setItem('sayHi', String(newState));
        button.ariaPressed = newState;
      });
    }
  }
  customElements.define('say-hi', SayHi);
</script>
