---
import { Icon } from 'astro-icon/components';

const SOCIAL_NETWORKS = [
  {
    href: 'https://github.com/jmlweb',
    title: 'GitHub',
    icon: 'ri:github-line',
  },
  {
    href: 'https://www.linkedin.com/in/josemanuellucas',
    title: 'LinkedIn',
    icon: 'ri:linkedin-line',
  },
  {
    href: 'https://twitter.com/jmlweb',
    title: 'Twitter',
    icon: 'ri:twitter-x-line',
  },
];
---

<div class="flex flex-wrap gap-4">
  {
    SOCIAL_NETWORKS.map((socialNetwork) => (
      <a
        href={socialNetwork.href}
        title={socialNetwork.title}
        target="_blank"
        rel="noopener noreferrer"
        class="inline-flex size-10 items-center justify-center rounded-md border-2 border-gray-500 bg-gray-900/30 text-gray-300 transition-colors hover:border-cyan-500 hover:bg-cyan-950/30 hover:text-cyan-300"
      >
        <Icon name={socialNetwork.icon} class="size-5" />
        <span class="sr-only">{socialNetwork.title}</span>
      </a>
    ))
  }
</div>
