---
import Container from './Container.astro';
---

<Container as="section" class="mt-12">
  <h1 class="text-lg font-medium text-cinder-500 d:text-cinder-300">
    Últimos posts
  </h1>
  <div class="mt-6 grid gap-12 lg:gap-16 lg:grid-cols-2">
    <slot />
  </div>
</Container>
