---
import { cva } from '@/utils/cva';
import { Icon } from 'astro-icon/components';
import { getRelativeLocaleUrl } from 'astro:i18n';

import { getLangFromUrl } from '@/utils/i18n';

const logo = cva({
  base: 'transition-colors',
  variants: {
    color: {
      light: 'text-amber-400 hover:text-amber-300',
      reactive:
        'text-orange-500 hover:text-orange-600 dark:text-amber-400 dark:hover:text-amber-300',
    },
  },
});

interface Props {
  color: 'light' | 'reactive';
}

const { color } = Astro.props;

const language = getLangFromUrl(Astro.url);
---

<a href={getRelativeLocaleUrl(language, '/')} class={logo({ color })}>
  <span class="sr-only">José Manuel Lucas</span>
  <Icon class="aspect-square h-auto ~w-9/11" name="logo" aria-hidden="true" />
</a>
