---
import { Icon } from 'astro-icon/components';

const SOCIAL_NETWORKS = [
  {
    href: 'https://github.com/jmlweb',
    title: 'GitHub',
    icon: 'ri:github-line',
  },
  {
    href: 'https://www.linkedin.com/in/josemanuellucas',
    title: 'LinkedIn',
    icon: 'ri:linkedin-line',
  },
  {
    href: 'https://twitter.com/jmlweb',
    title: 'Twitter',
    icon: 'ri:twitter-x-line',
  },
];
---

<div class="flex flex-wrap gap-4">
  {
    SOCIAL_NETWORKS.map((socialNetwork) => (
      <a
        href={socialNetwork.href}
        title={socialNetwork.title}
        target="_blank"
        rel="noopener noreferrer"
        class="inline-flex items-center justify-center rounded-md border border-gray-300 text-gray-500 transition-colors ~size-10/11 hover:border-cyan-400 hover:text-cyan-600 dark:border-gray-700 dark:text-gray-400 dark:hover:border-cyan-500 dark:hover:text-cyan-300"
      >
        <Icon name={socialNetwork.icon} class="~size-5/6" />
        <span class="sr-only">{socialNetwork.title}</span>
      </a>
    ))
  }
</div>
