---
import ThemeSwitcherBlurred from './ThemeSwitcherBlurred.astro';
import ThemeSwitcherIcon from './ThemeSwitcherIcon.astro';
---

<button
  id="theme-switcher"
  hidden
  aria-live="polite"
  type="button"
  data-tooltip
  class:list={[
    'group/button',
    'hidden js:block relative',
    'p-0 w-11 aspect-square -m-2.5',
    'transition-colors',
    'text-cinder-400 d:text-cinder-300 @hover:text-indigo-500 d:@hover:text-orange-200',
  ]}
>
  <span class="sr-only"></span>
  <ThemeSwitcherIcon name="moon-line" />
  <ThemeSwitcherIcon name="sun-line" />
  <ThemeSwitcherBlurred />
</button>

<script>
  import { querySelector, querySelectorAll } from '@/pods/dom';
  import { theme } from '@/store';

  const initialize = () => {
    const toggler = querySelector<HTMLButtonElement>('#theme-switcher');
    const helper = querySelector<HTMLSpanElement>('span:first-child', toggler);
    const icons = querySelectorAll<SVGElement>('svg', toggler);
    const blurred = querySelector<HTMLSpanElement>('span:last-child', toggler);

    const updateToggler = (isDark: boolean) => {
      toggler.setAttribute('aria-pressed', `${isDark}`);
    };

    const updateHelper = (isDark: boolean) => {
      helper.textContent = `Activar tema ${isDark ? 'claro' : 'oscuro'}`;
    };

    const updateIcons = (isDark: boolean) => {
      const activeTheme = isDark ? 'dark' : 'light';
      const classes = {
        off: ['opacity-0', 'scale-0'],
        on: ['opacity-100', 'scale-100'],
      };
      icons.forEach((icon) => {
        if (icon.dataset.theme === activeTheme) {
          icon.classList.remove(...classes.on);
          icon.classList.add(...classes.off);
        } else {
          icon.classList.remove(...classes.off);
          icon.classList.add(...classes.on);
        }
      });
    };

    const updateBlurred = (isDark: boolean) => {
      const classes = ['bg-orange-200/75', 'bg-indigo-600'];
      if (!isDark) {
        classes.reverse();
      }
      blurred.classList.remove(classes[1]);
      blurred.classList.add(classes[0]);
    };

    const forzeTogglerFocus = () => {
      setTimeout(() => {
        toggler.blur();
        toggler.focus();
      }, 50);
    };

    toggler.removeAttribute('hidden');

    theme.subscribe((value) => {
      const isDark = value === 'dark';
      updateToggler(isDark);
      updateHelper(isDark);
      updateIcons(isDark);
      updateBlurred(isDark);
    });

    toggler.addEventListener('click', () => {
      const newTheme = theme.get() === 'dark' ? 'light' : 'dark';
      theme.set(newTheme);
      localStorage.setItem('theme', newTheme);
      forzeTogglerFocus();
    });
  };

  document.addEventListener('astro:after-swap', (ev) => {
    initialize();
  });

  initialize();
</script>
