---
import { Icon } from 'astro-icon/components';
---

<button
  class="-mr-2 inline-flex size-10 cursor-wait items-center justify-center text-indigo-500 opacity-50 transition-colors hover:text-indigo-600 dark:text-orange-200 dark:hover:text-yellow-200"
  id="theme-toggler"
>
  <Icon
    name="ri:moon-line"
    aria-label="Enable dark mode"
    class="inline-block ~size-5/6 dark:hidden"
  />
  <Icon
    name="ri:sun-line"
    aria-label="Enable light mode"
    class="hidden ~size-5/6 dark:inline-block"
  />
</button>

<noscript>
  <style>
    #theme-toggler {
      display: none;
    }
  </style>
</noscript>

<script>
  import { theme } from './store';

  const themeToggler = document.querySelector<HTMLButtonElement>('#theme-toggler');
  if (themeToggler) {
    themeToggler.classList.remove('opacity-50');
    themeToggler.classList.remove('cursor-wait');

    themeToggler.addEventListener('click', () => {
      theme.set(theme.get() === 'dark' ? 'light' : 'dark');
    });
  }
</script>
