<span
  aria-hidden="true"
  class:list={[
    'w-6 aspect-square rotate-45 rounded-6',
    'absolute top-50% right-50% -mr-3 -mt-3 -z-1 block',
    'opacity-0 group-hover/button:opacity-100 -translate-y-0 group-hover/button:-translate-y-4',
    'transition-transition duration-500',
    'filter-blur-xl',
  ]}></span>
