---
import '@/base.css';
import Logo from '@/components/Logo.astro';
import ThemeToggler from './ThemeToggler.astro';
import { container } from '@/styles';
import { useTranslations, getLangFromUrl } from '@/utils/i18n';

interface Props {
  title?: string;
}

const { title } = Astro.props;
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<!doctype html>
<html lang={lang} class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="José Manuel Lucas | Frontend, TypeScript, CSS, Next.js" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="C_zrk0we724IL2r6BSTEf2U9ZVaIIYVsFR16eHuk-Nk" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ?? 'José Manuel Lucas'}</title>
    <script
      is:inline
      defer
      src="https://cloud.umami.is/script.js"
      data-website-id="df65ee54-96b0-47ae-ab5a-1e88ecb18c14"></script>
    <link rel="“alternate”" hreflang="“es”" href="http://jmlweb.es" />
    <link rel="“alternate”" hreflang="en" href="http://jmlweb.es/en" />
  </head>
  <body
    class="optimize-legibility min-h-screen overflow-y-auto overflow-x-hidden scroll-smooth bg-gradient-to-b from-slate-50 to-slate-100 font-sans text-slate-800/90 antialiased dark:from-slate-900 dark:to-slate-950 dark:text-slate-300/75"
  >
    <div class="grid min-h-screen grid-rows-[auto_1fr_auto]">
      <div class="print-hidden border-b border-slate-300 dark:border-slate-800">
        <header
          class={container({
            class: 'flex items-center justify-between ~py-3/5',
          })}
        >
          <Logo color="reactive" />
          <div class="flex items-center ~gap-6/8">
            <a
              class="text-base text-slate-600 hover:text-slate-800 dark:text-slate-400 dark:hover:text-slate-200"
              href={lang === 'en' ? '/' : '/en'}>{lang === 'en' ? 'Español' : 'English'}</a
            >
            <ThemeToggler />
          </div>
        </header>
      </div>
      <div class="flex flex-col">
        <slot />
      </div>
      <footer class="~mt-12/16 ~py-6/8">
        <div class={container()}>
          <p>
            <span class="font-medium">José Manuel Lucas</span>
            <span class="text-slate-500">/ Murcia ({t('common:spain')})</span>
          </p>
        </div>
      </footer>
    </div>
  </body>
</html>

<script is:inline>
  const isDarkMode =
    localStorage.getItem('theme') === 'dark' ||
    (!('theme' in localStorage) && !window.matchMedia('(prefers-color-scheme: light)').matches);
  document.documentElement.classList.toggle('dark', isDarkMode);
</script>

<script>
  import { isDarkAtom } from '@/store';

  const AnimationBlocker = () => {
    const css = document.createElement('style');
    css.appendChild(
      document.createTextNode(
        `* {
        -webkit-transition: none !important;
        -moz-transition: none !important;
        -o-transition: none !important;
        -ms-transition: none !important;
        transition: none !important;
      }`,
      ),
    );
    document.head.appendChild(css);
    window.getComputedStyle(css).opacity;
    return () => document.head.removeChild(css);
  };

  isDarkAtom.listen((isDark) => {
    const unblock = AnimationBlocker();
    document.documentElement.classList.toggle('dark', isDark);
    setTimeout(() => unblock(), 500);
  });

  window.addEventListener('storage', (e) => {
    if (e.key === 'theme') {
      isDarkAtom.set(e.newValue === 'dark');
    }
  });
</script>
