---
import { Sprite } from 'astro-icon';

import { SECTIONS } from '@/config/sections';

import NavigationLink from './NavigationLink.astro';

interface Props {
  currentPath?: string;
}

const { currentPath } = Astro.props;
---

<nav aria-label="Menú principal" class="ml-8 lg:ml-20 text-base lg:text-lg">
  <button
    id="mobile-menu-trigger"
    class:list={[
      'bg-transparent color-cinder-500 d:color-cinder-300',
      'w-11 p-2 -mx-2',
      'hidden js:block js:sm:hidden',
    ]}
    type="button"
    aria-controls="mobile-drawer"
    aria-expanded="false"
    data-tooltip
  >
    <span class="sr-only">Abrir menú</span>
    <Sprite
      name="ri:menu-4-line"
      class="aspect-square w-6.5 md:w-8"
      aria-hidden
    />
  </button>
  <ul
    class:list={[
      'flex js:hidden js:sm:flex flex-wrap gap-4',
      'text-base font-medium lg:text-lg',
      'd:text-orange-200',
    ]}
  >
    {
      SECTIONS.map((sectionProps) => (
        <li>
          <NavigationLink
            {...sectionProps}
            isCurrent={sectionProps.link === currentPath}
          />
        </li>
      ))
    }
  </ul>
</nav>
