---
import { Sprite } from 'astro-icon';
import Container from '@/components/Container.astro';
---

<Container as="header">
  <a href="/" data-themable>
    <span class="sr-only">José Manuel Lucas</span>
    <Sprite name="jmlweb" aria-hidden="true" />
  </a>
  <slot />
</Container>

<style>
  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: var(--height, 80px);

    @media (width >= 720px) {
      --height: 112px;
    }

    @media (width >= 1100px) {
      --height: 160px;
    }
  }

  a {
    --padding: 12px;

    display: none;
    color: var(--color-logo);
    transition: color 0.15s var(--ease-in);
    padding: var(--padding);
    margin: calc(var(--padding) * -1);

    @media (width >= 720px) {
      display: block;
    }

    @media (width >= 1100px) {
      --padding: 0;
    }

    &:hover {
      color: color-mix(
        in hsl longer hue,
        var(--color-logo),
        var(--color-title) 93%
      );
    }
  }

  :global([data-js='true']) a {
    display: block;
  }

  [astro-icon] {
    width: 37px;
    height: 36px;

    @media (width >= 720px) {
      width: 48px;
      height: 47px;
    }

    @media (width >= 1100px) {
      width: 64px;
      height: 63px;
    }
  }
</style>
