---
import '@fontsource-variable/inter';

import { ViewTransitions } from 'astro:transitions';
import { fade } from 'astro:transitions';
import { Sprite } from 'astro-icon';

import Footer from './Footer.astro';
import Header from './Header.astro';
import MainNavigation from './Navigation/MainNavigation.astro';
import MobileDrawer from './Navigation/MobileDrawer.astro';
import SimpleTooltip from './SimpleTooltip.astro';
import SkipToContent from './SkipToContent.astro';

interface Props {
  title: string;
  currentPath?: string;
}

const { title, currentPath } = Astro.props;
---

<html
  lang="es"
  class="group"
  data-theme="auto"
  transition:animate={fade({ duration: '0.4s' })}
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="description"
      content="José Manuel Lucas | Frontend, TypeScript, CSS, Next.js"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body
    class:list={[
      'bg-cinder-50/75 text-cinder-600 d:bg-cinder-950 d:text-cinder-200',
      'text-base lg:text-[17px] lg:leading-[1.6]',
      'antialiased optimize-legibility',
    ]}
  >
    <SkipToContent />
    <Sprite.Provider>
      <div
        id="root"
        class:list={['flex flex-col', 'min-h-screen', 'font-sans']}
      >
        <Header transition:persist>
          <MainNavigation currentPath={currentPath} />
        </Header>
        <main id="main">
          <slot />
        </main>
        <Footer />
      </div>
      <MobileDrawer currentPath={currentPath} />
    </Sprite.Provider>
    <SimpleTooltip />
    <script is:inline>
      const getInitialTheme = () => {
        const storedTheme = localStorage.getItem('theme');
        if (storedTheme && ['light', 'dark'].includes(storedTheme)) {
          return storedTheme;
        }
        const prefersLight = window.matchMedia(
          '(prefers-color-scheme: light)',
        ).matches;
        return prefersLight ? 'light' : 'dark';
      };

      const initialize = (targetDocument) => {
        targetDocument.documentElement.dataset.js = 'true';
        targetDocument.documentElement.dataset.theme = getInitialTheme();
      };

      document.addEventListener('astro:before-swap', (ev) => {
        // Pass the incoming document to set the theme on it
        initialize(ev.newDocument);
      });

      initialize(document);
    </script>

    <script>
      import { initializeTheme } from './theme';

      initializeTheme();
    </script>
  </body>
</html>
