---
import { AstroFont } from 'astro-font';
import { Sprite } from 'astro-icon';

import Footer from './Footer.astro';
import Header from './Header.astro';
import MainNavigation from './Navigation/MainNavigation.astro';
import MobileDrawer from './Navigation/MobileDrawer.astro';
import SimpleTooltip from './SimpleTooltip.astro';
import SkipToContent from './SkipToContent.astro';

interface Props {
  title: string;
  currentPath?: string;
}

const { title, currentPath } = Astro.props;
---

<html lang="es" class="group" data-theme="auto">
  <head>
    <meta charset="utf-8" />
    <meta
      name="description"
      content="José Manuel Lucas | Frontend, TypeScript, CSS, Next.js"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <AstroFont
      config={[
        {
          src: [],
          name: 'Inter',
          googleFontsURL:
            'https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap',
          preload: true,
          display: 'swap',
          selector: 'body',
          fallback: 'sans-serif',
          cssVariable: 'font-sans',
        },
      ]}
    />
    <title>{title}</title>
  </head>
  <body
    class:list={[
      'transition-colors bg-cinder-50 text-cinder-600 d:bg-cinder-950 d:text-cinder-200',
      'text-base lg:text-[17px] lg:leading-[1.6]',
      'antialiased',
    ]}
  >
    <SkipToContent />
    <Sprite.Provider>
      <div
        id="root"
        class:list={['flex flex-col', 'min-h-screen', 'font-sans']}
      >
        <Header>
          <MainNavigation currentPath={currentPath} />
        </Header>
        <main id="main">
          <slot />
        </main>
        <Footer />
      </div>
      <MobileDrawer currentPath={currentPath} />
    </Sprite.Provider>
    <SimpleTooltip />
    <script is:inline>
      document.documentElement.setAttribute('data-js', 'true');
    </script>

    <script>
      import { theme } from '@/store';

      theme.subscribe((value) => {
        document.documentElement.setAttribute('data-theme', value);
      });

      const getInitialTheme = () => {
        const storedTheme = localStorage.getItem('theme');
        if (storedTheme && ['light', 'dark'].includes(storedTheme)) {
          return storedTheme as 'light' | 'dark';
        }
        const prefersLight = window.matchMedia(
          '(prefers-color-scheme: light)',
        ).matches;
        return prefersLight ? 'light' : 'dark';
      };

      theme.set(getInitialTheme());
    </script>
  </body>
</html>
