---
import '@fontsource-variable/inter';

import { Sprite } from 'astro-icon';

import Footer from './Footer.astro';
import Header from './Header.astro';
import SimpleTooltip from './SimpleTooltip.astro';
import SkipToContent from './SkipToContent.astro';
import MainNavigation from '@/components/Navigation/MainNavigation.astro';
import MobileDrawer from '@/components/Navigation/MobileDrawer.astro';

interface Props {
  title: string;
  currentPath?: string;
}

const { title, currentPath } = Astro.props;
---

<html lang="es" data-theme="auto">
  <head>
    <meta charset="utf-8" />
    <meta
      name="description"
      content="José Manuel Lucas | Frontend, TypeScript, CSS, Next.js"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class:list={[
      'group',
      'transition-colors bg-cinder-50 text-cinder-500 d:bg-cinder-950 d:text-cinder-300/85',
      'text-base lg:text-[17px] lg:leading-[1.6]',
      'antialiased',
    ]}
  >
    <SkipToContent />
    <Sprite.Provider>
      <div
        id="root"
        class:list={['flex flex-col', 'min-h-screen', 'font-sans']}
      >
        <Header>
          <MainNavigation currentPath={currentPath} />
        </Header>
        <main id="main">
          <slot />
        </main>
        <Footer />
      </div>
      <MobileDrawer currentPath={currentPath} />
    </Sprite.Provider>
    <SimpleTooltip />
  </body>
</html>

<script is:inline>
  document.body.setAttribute('data-js', 'true');
</script>

<script>
  import { theme } from '@/store';

  theme.subscribe((value) => {
    document.documentElement.setAttribute('data-theme', value);
  });

  const getInitialTheme = () => {
    const storedTheme = localStorage.getItem('theme');
    if (storedTheme && ['light', 'dark'].includes(storedTheme)) {
      return storedTheme as 'light' | 'dark';
    }
    const prefersLight = window.matchMedia(
      '(prefers-color-scheme: light)'
    ).matches;
    return prefersLight ? 'light' : 'dark';
  };

  theme.set(getInitialTheme());
</script>
