---
import { ViewTransitions } from 'astro:transitions';
import { fade } from 'astro:transitions';
import { AstroFont } from 'astro-font';
import { Sprite } from 'astro-icon';

import Footer from './Footer.astro';
import Header from './Header.astro';
import MainNavigation from './Navigation/MainNavigation.astro';
import MobileDrawer from './Navigation/MobileDrawer.astro';
import SimpleTooltip from './SimpleTooltip.astro';
import SkipToContent from './SkipToContent.astro';

interface Props {
  title: string;
  currentPath?: string;
}

const { title, currentPath } = Astro.props;
---

<html
  lang="es"
  class="group"
  data-theme="auto"
  transition:animate={fade({ duration: '0.1s' })}
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="description"
      content="José Manuel Lucas | Frontend, TypeScript, CSS, Next.js"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
    <AstroFont
      config={[
        {
          src: [],
          name: 'Inter',
          googleFontsURL:
            'https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,400..700&display=swap',
          preload: true,
          display: 'swap',
          selector: 'body',
          fallback: 'sans-serif',
          cssVariable: 'font-sans',
        },
      ]}
    />
  </head>
  <body
    class:list={[
      'bg-cinder-50/75 text-cinder-600 d:bg-cinder-950 d:text-cinder-200',
      'text-base lg:text-[17px] lg:leading-[1.6]',
      'antialiased optimize-legibility',
    ]}
  >
    <SkipToContent />
    <Sprite.Provider>
      <div
        id="root"
        class:list={['flex flex-col', 'min-h-screen', 'font-sans']}
      >
        <Header transition:persist>
          <MainNavigation currentPath={currentPath} />
        </Header>
        <main id="main">
          <slot />
        </main>
        <Footer />
      </div>
      <MobileDrawer currentPath={currentPath} />
    </Sprite.Provider>
    <SimpleTooltip />
    <script is:inline>
      const getInitialTheme = () => {
        const storedTheme = localStorage.getItem('theme');
        if (storedTheme && ['light', 'dark'].includes(storedTheme)) {
          return storedTheme;
        }
        const prefersLight = window.matchMedia(
          '(prefers-color-scheme: light)',
        ).matches;
        return prefersLight ? 'light' : 'dark';
      };

      document.addEventListener('astro:before-swap', (ev) => {
        // Pass the incoming document to set the theme on it
        const targetDocument = ev.newDocument || document;
        targetDocument.documentElement.dataset.js = 'true';
        targetDocument.documentElement.dataset.theme = getInitialTheme();
      });

      document.dispatchEvent(new Event('astro:before-swap'));
    </script>

    <script>
      import { theme } from '@/store';

      theme.set(document.documentElement.dataset.theme as 'light' | 'dark');

      theme.subscribe((value) => {
        const css = document.createElement('style');
        css.appendChild(
          document.createTextNode(
            `* {
              -webkit-transition: none !important;
              -moz-transition: none !important;
              -o-transition: none !important;
              -ms-transition: none !important;
              transition: none !important;
            }`,
          ),
        );
        document.head.appendChild(css);

        document.documentElement.setAttribute('data-theme', value);

        const _ = window.getComputedStyle(css).opacity;
        document.head.removeChild(css);
      });
    </script>
  </body>
</html>
