---
import { Sprite } from 'astro-icon';
import ThemeSwitcher from './ThemeSwitcher.astro';
---

<div>
  <ThemeSwitcher />
  <nav role="navigation" aria-label="Menú principal">
    <button
      id="mobile-menu-trigger"
      type="button"
      data-theme-link
      aria-controls="mobile-menu"
      aria-expanded="false"
      data-tooltip
    >
      <span class="sr-only">Abrir menú</span>
      <Sprite name="ri:menu-4-line" />
    </button>
    <slot />
  </nav>
</div>

<style>
  div {
    width: 100vw;
    width: 100dvw;
    display: flex;
    align-items: center;

    @media (width >= 720px) {
      width: auto;
    }
  }

  :global([data-js='true']) div {
    width: auto;
  }

  nav {
    margin-inline-start: 32px;

    @media (width >= 1100px) {
      margin-inline-start: 80px;
    }
  }

  button {
    display: none;
  }

  :global([data-js='true']) button {
    --padding: 8px;

    display: block;
    background: none;
    padding: var(--padding);
    margin-inline: calc(var(--padding) * -1);

    @media (width >= 720px) {
      display: none;
    }
  }

  [astro-icon] {
    width: 28px;
    height: 28px;

    @media (width >= 720px) {
      width: 32px;
      height: 32px;
    }
  }

  nav :global(ul) {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    font-size: 16px;
    font-weight: 500;

    @media (width >= 720px) {
      gap: 32px;
      font-size: 17px;
    }

    @media (width >= 1100px) {
      gap: 40px;
      font-size: 18px;
    }
  }

  :global([data-js='true']) nav :global(ul) {
    @media (width < 720px) {
      display: none;
    }
  }
</style>
