<div
  id="simple-tooltip"
  class:list={[
    'absolute top-0 left-0',
    'w-max py-1.5 px-3',
    'text-xs font-bold rounded-1',
    'bg-cinder-700 text-cinder-100 d:bg-cinder-100 d:text-cinder-600',
    'shadow-xl shadow-black/15 d:shadow-black/50',
    'animate-fade-in animate-duration-300',
  ]}
  role="tooltip"
  hidden
>
  <span class="block content"></span>
  <span
    class:list={[
      'arrow',
      'absolute block',
      'w-1.5 aspect-square',
      'rotate-45',
      'bg-cinder-700 d:bg-cinder-100',
    ]}></span>
</div>

<script>
  import { initializeTooltip } from './simpleTooltip';

  document.addEventListener('astro:before-swap', (ev: Event) => {
    initializeTooltip((ev as any).newDocument);
  });

  initializeTooltip(document);
</script>
